{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Navbar</a>
            <li><code><a href="{{ path ('login') }}">inloggen</a></code></li>
        </div>
    </nav>


    <br><br><br>
    <h3 class="text-center">Het geheimen dierenrijk</h3>
    <p class="text-center">balablablablablablabalballablbalbla</p>
{% endblock %}
